<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p>
  <a href='/celebrities/create'>Create New Celebrity</a>
</p>
<p>
  <a href='/celebrities'>Celebrities</a>
</p>
<p>
  <a href='/movies/create'>Create New Movies</a>
</p>
<p>
  <a href='/movies'>Movies</a>
</p>
